<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<body>
  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>What's Popular</h2>
          </div>
        </div>
<div class="container">
  <div class="card" *ngFor="let item of Data_Top6Movies">
    <h3 class="title">{{item.title}}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      <img class="imge_card" src="../assets/images/meeting-04.jpg"/>
      <a>99</a>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle class="stroke" cx="60" cy="60" r="50"/>
      
    </svg>
    </div>
  </div>
  
</div>
</div>
</div>
</section>
</body>